.site-layout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    padding: 24px;
    background: #fff;
  }
  
  .ant-layout-content{
    overflow: scroll;
    height: auto;
  }
 

  .site-laoyout-cointent-cardMovie{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }


